<div class="word">
	<abbr class="word-title" title="{{ word | toNumberCode }}">{{ word | uppercaseSpecial }}</abbr> <a class="word-remove" ng-click="addToWithoutArray()">&cross;</a>
	
	<div class="word-image" ng-if="isImageLoaded(word)">
		<a target="_blank" href="{{images[word].unescapedUrl}}">
			<img class="img-thumbnail" src="{{images[word].tbUrl}}" title="{{images[word].contentNoFormatting}}" />
		</a>
		<a target="_blank" class="word-source" href="{{images[word].originalContextUrl}}" title="Source page">{{images[word].visibleUrl}}</a>
	</div>

	<div class="word-image-loading" ng-if="!isImageLoaded(word)">
	</div>
</div>