body {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

a {
	cursor: pointer;
}

.logo {
	font-size: 24px;
	margin: 30px 0;
}

.quality-options {
	margin: 10px 0 30px 0;
}

.num-input {
	text-align: center;
	font-size: 50px;
	height: 75px;
}