<div class="logo">
	<a ng-click="showMain()">{{ 'HEADER' | translate }}</a>
</div>

<div ng-click="switchLanguage()" class="lang lang-from-{{lang}}"></div>

<input maxlength="20" id="num-input" ng-disabled="generatingWords" type="text" ng-model="num" class="num-input form-control input-lg" autofocus="autofocus" />

<div class="quality-options">
	<label class="radio-inline">
		<input ng-disabled="generatingWords" type="radio" ng-model="quality" id="quality1" name="quality" value="{{ 'QUALITY_1' | translate }}" />{{ 'ALL_WORDS' | translate }}
	</label>
	<label class="radio-inline">
		<input ng-disabled="generatingWords" type="radio" ng-model="quality" id="quality2" name="quality" value="{{ 'QUALITY_2' | translate }}" />{{ 'DEFAULT_WORDS' | translate }}
	</label>
	<label  class="radio-inline">
		<input ng-disabled="generatingWords" type="radio" ng-model="quality" id="quality3" name="quality" value="{{ 'QUALITY_3' | translate }}" />{{ 'BEST_WORDS' | translate }}
	</label>
</div>

<div ng-if="invalidNumber" class="error">
	{{ 'INVALID_NUMBER' | translate }}
</div>

<div ng-if="emptyNumber && !invalidNumber" class="help">
	<p translate="{{ 'HOWTO' }}"></p>
</div>	

<div ng-if="inTyping && !invalidNumber">
 	{{ 'SEARCHING' | translate }}
</div>

<div ng-if="!invalidNumber && !emptyNumber && !inTyping && result.length == 0">
 	{{ 'TOO_LONG' | translate }}
</div>

<div ng-if="!invalidNumber && !emptyNumber && !inTyping && result.length > 0" class="result">
 	<div class="word-group" cl>
		<word ng-repeat="word in result"></word>
	</div>
</div>

<div class="footer">
	<a href="mailto:masklod@gmail.com">Marek Skłodowski</a>, 2014
</div>
