<div class="logo">
	MEMO
</div>

<input ng-disabled="generatingWords" type="text" ng-model="num" class="num-input form-control input-lg" autofocus="autofocus" />

<div class="quality-options">
	<label class="radio-inline">
		<input ng-disabled="generatingWords" type="radio" ng-model="quality" id="quality1" name="quality" value="0" />Wszystkie
	</label>
	<label class="radio-inline">
		<input ng-disabled="generatingWords" type="radio" ng-model="quality" id="quality2" name="quality" value="120" />Domyślnie
	</label>
	<label  class="radio-inline">
		<input ng-disabled="generatingWords" type="radio" ng-model="quality" id="quality3" name="quality" value="200" />Proste
	</label>
</div>

<div ng-if="invalidNumber" class="error">
	Niepoprawny numer
</div>

<div ng-if="emptyNumber" class="help">
	Lorem ipsum dolor.
</div>	

<div ng-if="inTyping">
 	Wyszukiwanie...
</div>

<div ng-if="!invalidNumber && !emptyNumber && !inTyping && result.length == 0">
 	Wyszukiwanie numeru trwało zbyt długo...
</div>


<div ng-if="!invalidNumber && !emptyNumber && !inTyping && result.length > 0" class="result">
 	<div class="word-group" cl>
		<word ng-repeat="word in result"></word>
	</div>
</div>

